# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db
*.log
*.pot
*.pyc
*.ipynb_checkpoints/

# Streamlit
.streamlit/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Others
*.bak
*.swp
*.tmp
